<div class="post" id="{{ strip_carets(post.message_id)|safe }}">
    <table class="headers" title="E-mail headers">
        <caption class="screen-reader-only">E-mail headers</caption>
        <tr>
            <th scope="row"></th>
            <td><a href="#{{ strip_carets(post.message_id) }}"></a></td>
        </tr>
        <tr>
            <th scope="row">From:</th>
            <td>{{ post.address }}</td>
        </tr>
        <tr>
            <th scope="row">Date:</th>
            <td class="faded">{{ post.datetime }}</td>
        </tr>
        <tr>
            <th scope="row">Message-ID:</th>
            <td class="faded message-id"><a href="{{ list_post_path(list.id, post.message_id) }}">{{ strip_carets(post.message_id) }}</a></td>
        </tr>
        {% if in_reply_to %}
            <tr>
                <th scope="row">In-Reply-To:</th>
                <td class="faded message-id"><a href="{{ list_post_path(list.id, in_reply_to) }}">{{ in_reply_to }}</a></td>
            </tr>
        {% endif %}
        {% if references %}
            <tr>
                <th scope="row">References:</th>
                <td>{% for r in references %}<span class="faded message-id"><a href="{{ list_post_path(list.id, r) }}">{{ r }}</a></span>{% endfor %}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2"><details class="reply-details"><summary>more …</summary><a href="{{ post_raw_path(list.id, post.message_id) }}">View raw</a>  <a href="{{ post_eml_path(list.id, post.message_id) }}">Download as <code>eml</code> (RFC 5322 format)</a></details></td>
        </tr>
    </table>
    <div class="post-body">
        <pre {% if odd %}style="--background-secondary: var(--background-critical);" {% endif %}title="E-mail text content">{{ body|trim }}</pre>
    </div>
</div>
