{% include "header.html" %}
<div class="body">
    {% if list.topics|length > 0 %}<span><em>Topics</em>:</span>&nbsp;{{ list.topics() }}
        <br aria-hidden="true">
        <br aria-hidden="true">
    {% endif %}
    {% if list.description %}
        <p title="mailing list description">{{ list.description }}</p>
    {% else %}
        <p title="mailing list description">No list description.</p>
    {% endif %}
    <br aria-hidden="true">
    {% if current_user and not post_policy.no_subscriptions and subscription_policy.open %}
        {% if user_context %}
            <form method="post" action="{{ settings_path() }}" class="settings-form">
                <input type="hidden" name="type", value="unsubscribe">
                <input type="hidden" name="list_pk", value="{{ list.pk }}">
                <input type="submit" name="unsubscribe" value="Unsubscribe as {{ current_user.address }}">
            </form>
            <br />
        {% else %}
            <form method="post" action="{{ settings_path() }}" class="settings-form">
                <input type="hidden" name="type", value="subscribe">
                <input type="hidden" name="list_pk", value="{{ list.pk }}">
                <input type="submit" name="subscribe" value="Subscribe as {{ current_user.address }}">
            </form>
            <br />
        {% endif %}
    {% endif %}
    {% if preamble %}
        <section id="preamble" class="preamble" aria-label="mailing list instructions">
            {% if preamble.custom %}
                {{ preamble.custom|safe }}
            {% else %}
                {% if not post_policy.no_subscriptions %}
                    {{ heading(3, "Subscribe") }}
                    {% set subscription_mailto=list.subscription_mailto() %}
                    {% if subscription_mailto %}
                        {% if subscription_mailto.subject %}
                            <p>
                                <a href="mailto:{{ subscription_mailto.address|safe }}?subject={{ subscription_mailto.subject|safe }}"><code>{{ subscription_mailto.address }}</code></a> with the following subject: <code>{{ subscription_mailto.subject}}</code>
                            </p>
                        {% else %}
                            <p>
                                <a href="mailto:{{ subscription_mailto.address|safe }}"><code>{{ subscription_mailto.address }}</code></a>
                            </p>
                        {% endif %}
                    {% else %}
                        <p>List is not open for subscriptions.</p>
                    {% endif %}

                    {% set unsubscription_mailto=list.unsubscription_mailto() %}
                    {% if unsubscription_mailto %}
                        {{ heading(3, "Unsubscribe") }}
                        {% if unsubscription_mailto.subject %}
                            <p>
                                <a href="mailto:{{ unsubscription_mailto.address|safe }}?subject={{ unsubscription_mailto.subject|safe }}"><code>{{ unsubscription_mailto.address }}</code></a> with the following subject: <code>{{unsubscription_mailto.subject}}</code>
                            </p>
                        {% else %}
                            <p>
                                <a href="mailto:{{ unsubscription_mailto.address|safe }}"><code>{{ unsubscription_mailto.address }}</code></a>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}

                {{ heading(3, "Post") }}
                {% if post_policy.announce_only %}
                    <p>List is <em>announce-only</em>, i.e. you can only subscribe to receive announcements.</p>
                {% elif post_policy.subscription_only %}
                    <p>List is <em>subscription-only</em>, i.e. you can only post if you are subscribed.</p>
                    <p>If you are subscribed, you can send new posts to:
                        <a href="mailto:{{ list.address| safe }}"><code>{{ list.address }}</code></a>
                    </p>
                {% elif post_policy.approval_needed or post_policy.no_subscriptions %}
                    <p>List is open to all posts <em>after approval</em> by the list owners.</p>
                    <p>You can send new posts to:
                        <a href="mailto:{{ list.address| safe }}"><code>{{ list.address }}</code></a>
                    </p>
                {% else %}
                    <p>List is not open for submissions.</p>
                {% endif %}
            {% endif %}
        </section>
    {% endif %}
    <section class="list" aria-hidden="true">
        {{ heading(3, "Calendar") }}
        <div class="calendar">
            {%- from "calendar.html" import cal %}
            {% for date in months %}
                {{ cal(date, hists) }}
            {% endfor %}
        </div>
    </section>
    <section aria-label="mailing list posts">
        {{ heading(3, "Posts") }}
        <div class="posts entries" role="list" aria-label="list of mailing list posts">
            <p>{{ posts | length }} post{{ posts|length|pluralize }}</p>
            {% for post in posts %}
                <div class="entry" role="listitem" aria-labelledby="post_link_{{ loop.index }}">
                    <span class="subject"><a id="post_link_{{ loop.index }}" href="{{ list_post_path(list.id, post.message_id) }}">{{ post.subject }}</a>&nbsp;<span class="metadata replies" title="reply count">{{ post.replies }} repl{{ post.replies|pluralize("y","ies") }}</span></span>
                    <span class="metadata"><span aria-hidden="true">👤&nbsp;</span><span class="from" title="post author">{{ post.address }}</span><span aria-hidden="true"> 📆&nbsp;</span><span class="date" title="post date">{{ post.datetime }}</span></span>
                    {% if post.replies > 0 %}<span class="metadata"><span aria-hidden="true">&#x1F493;&nbsp;</span><span class="last-active" title="latest thread activity">{{ post.last_active }}</span></span>{% endif %}
                    <span class="metadata"><span aria-hidden="true">🪪 </span><span class="message-id" title="e-mail Message-ID">{{ post.message_id }}</span></span>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% include "footer.html" %}
