<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% include "css.html" %}
    </head>
    <body>
        <main class="layout">
            <div class="header">
                <h1>{{ title }}</h1>
                {% if description %}
                    <p class="description">{{ description }}</p>
                {% endif %}
                {% include "menu.html" %}
                <div class="page-header">
                    {% if page_title %}
                        <h2>{{ page_title }}</h2>
                    {% endif %}
                    <nav aria-label="Breadcrumb" class="breadcrumbs">
                        <ol>{% for crumb in crumbs %}{% if loop.last %}<li class="crumb"><span aria-current="page" title="current page">{{ crumb.label }}</span></li>{% else %}<li class="crumb"><a href="{{ root_url_prefix }}{{ crumb.url }}">{{ crumb.label }}</a></li>{% endif %}{% endfor %}</ol>
                    </nav>
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li class="{{ message.level|lower }}">
                                    <span class="label">{{ message.level }}: </span>{{ message.message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
