<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        {% include "css.html" %}
    </head>
    <body>
        <main class="layout">
            <div class="header">
                <h1>{{ title }}</h1>
                {% if description %}
                    <p class="description">{{ description }}</p>
                {% endif %}
                {% include "menu.html" %}
                <div class="page-header">
                    {% if crumbs|length > 1 %}<nav aria-labelledby="breadcrumb-menu" class="breadcrumbs">
                        <ol id="breadcrumb-menu" role="menu" aria-label="Breadcrumb menu">{% for crumb in crumbs %}<li class="crumb" aria-describedby="bread_{{ loop.index }}">{% if loop.last %}<span role="menuitem" id="bread_{{ loop.index }}" aria-current="page" title="current page">{{ crumb.label }}</span>{% else %}<a role="menuitem" id="bread_{{ loop.index }}" href="{{ root_url_prefix }}{{ crumb.url }}" tabindex="0">{{ crumb.label }}</a>{% endif %}</li>{% endfor %}</ol>
                    </nav>{% endif %}
                    {% if page_title %}
                        <h2 class="page-title">{{ page_title }}</h2>
                    {% endif %}
                    {% if messages %}
                        <ul class="messagelist">
                            {% for message in messages %}
                                <li class="{{ message.level|lower }}">
                                    <span class="label">{{ message.level }}: </span>{{ message.message }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
