{% include "header.html" %}
<div class="body">
    {% if current_user and not post_policy.no_subscriptions and subscription_policy.open %}
        {% if user_context %}
            <form method="post" action="{{ root_url_prefix }}/settings/" class="settings-form">
                <input type="hidden" name="type", value="unsubscribe">
                <input type="hidden" name="list_pk", value="{{ list.pk }}">
                <input type="submit" name="unsubscribe" value="Unsubscribe as {{ current_user.address }}">
            </form>
        {% else %}
            <form method="post" action="{{ root_url_prefix }}/settings/" class="settings-form">
                <input type="hidden" name="type", value="subscribe">
                <input type="hidden" name="list_pk", value="{{ list.pk }}">
                <input type="submit" name="subscribe" value="Subscribe as {{ current_user.address }}">
            </form>
        {% endif %}
    {% endif %}
    {% if preamble %}
        <div id="preamble" class="preamble">
            {% if preamble.custom %}
                {{ preamble.custom|safe }}
            {% else %}
                {% if not post_policy.no_subscriptions %}
                    <h2 id="subscribe">Subscribe</h2>
                    {% set subscription_mailto=list.subscription_mailto() %}
                    {% if subscription_mailto %}
                        {% if subscription_mailto.subject %}
                            <p>
                                <a href="mailto:{{ subscription_mailto.address|safe }}?subject={{ subscription_mailto.subject|safe }}"><code>{{ subscription_mailto.address }}</code></a> with the following subject: <code>{{ subscription_mailto.subject}}</code>
                            </p>
                        {% else %}
                            <p>
                                <a href="mailto:{{ subscription_mailto.address|safe }}"><code>{{ subscription_mailto.address }}</code></a>
                            </p>
                        {% endif %}
                    {% else %}
                        <p>List is not open for subscriptions.</p>
                    {% endif %}

                    {% set unsubscription_mailto=list.unsubscription_mailto() %}
                    {% if unsubscription_mailto %}
                        <h2 id="unsubscribe">Unsubscribe</h2>
                        {% if unsubscription_mailto.subject %}
                            <p>
                                <a href="mailto:{{ unsubscription_mailto.address|safe }}?subject={{ unsubscription_mailto.subject|safe }}"><code>{{ unsubscription_mailto.address }}</code></a> with the following subject: <code>{{unsubscription_mailto.subject}}</code>
                            </p>
                        {% else %}
                            <p>
                                <a href="mailto:{{ unsubscription_mailto.address|safe }}"><code>{{ unsubscription_mailto.address }}</code></a>
                            </p>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <h2 id="post">Post</h2>
                {% if post_policy.announce_only %}
                    <p>List is <em>announce-only</em>, i.e. you can only subscribe to receive announcements.</p>
                {% elif post_policy.subscription_only %}
                    <p>List is <em>subscription-only</em>, i.e. you can only post if you are subscribed.</p>
                    <p>If you are subscribed, you can send new posts to:
                        <a href="mailto:{{ list.address| safe }}"><code>{{ list.address }}</code></a>
                    </p>
                {% elif post_policy.approval_needed or post_policy.no_subscriptions %}
                    <p>List is open to all posts <em>after approval</em> by the list owners.</p>
                    <p>You can send new posts to:
                        <a href="mailto:{{ list.address| safe }}"><code>{{ list.address }}</code></a>
                    </p>
                {% else %}
                    <p>List is not open for submissions.</p>
                {% endif %}
            {% endif %}
        </div>
        <hr />
    {% endif %}
    <div class="list">
        <h2 id="calendar">Calendar</h2>
        <div class="calendar">
            {%- from "calendar.html" import cal %}
            {% for date in months %}
                {{ cal(date, hists, root_url_prefix, list.pk) }}
            {% endfor %}
        </div>
        <hr />
        <h2 id="posts">Posts</h2>
        <div class="posts entries">
            <p>{{ posts | length }} post(s)</p>
            {% for post in posts %}
                <div class="entry">
                    <span class="subject"><a href="{{ root_url_prefix|safe }}/list/{{post.list}}/{{ post.message_id }}.html">{{ post.subject }}</a></span>
                    <span class="metadata">👤&nbsp;<span class="from">{{ post.address }}</span> 📆&nbsp;<span class="date">{{ post.datetime }}</span></span>
                    <span class="metadata">🪪 &nbsp;<span class="message-id">{{ post.message_id }}</span></span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include "footer.html" %}
