{% include "header.html" %}
<div class="body">
    <!-- {{ lists|length }} lists -->
    <div class="entry">
        <dl class="lists" aria-label="list of mailing lists">
            {% for l in lists %}
                <dt aria-label="mailing list name"><a href="{{ list_path(l.list.id) }}"><bdi>{{ l.list.name }}</bdi></a></dt>
                <dd><span aria-label="mailing list description"{% if not l.list.description %} class="no-description"{% endif %}>{{ l.list.description if l.list.description else "<p>no description</p>"|safe }}</span><span class="list-posts-dates tabular-nums">{{ l.posts|length }} post{{ l.posts|length|pluralize("","s") }}{% if l.newest %} | <time datetime="{{ l.newest }}">{{ l.newest }}</time>{% endif %}</span>{% if l.list.topics|length > 0 %}<span class="list-topics"><span>Topics:</span>&nbsp;{{ l.list.topics() }}</span>{% endif %}</dd>
            {% endfor %}
        </dl>
    </div>
</div>
{% include "footer.html" %}
