<nav class="main-nav">
    <ul>
        <li><a href="{{ root_url_prefix }}/">Index</a></li>
        <li><a href="{{ root_url_prefix }}{{ help_path() }}">Help&nbsp;&amp; Documentation</a></li>
        {% if current_user %}
            <li class="push">Settings: <a href="{{ root_url_prefix }}{{ settings_path() }}">{{ current_user.address }}</a></li>
        {% else %}
            <li class="push"><a href="{{ root_url_prefix }}{{ login_path() }}">Login with SSH OTP</a></li>
        {% endif %}
    </ul>
</nav>
